.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
    border-radius: 15px;
    margin-bottom: 10px;
}
.navitem{
    position: relative;
    width: 85px;
    height: 50px;
    background: #48ADE7;
    border-radius: 8px;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*48ADE7*/