.columnLeft {
}

.columnMiddle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.columnRight {
    display: flex;
    align-items: flex-end;
}
.row {
    background-color: #A9CDFF;
    border: 1px black solid;
    border-radius: 12px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;

    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.buttonReserve {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 95px;
    height: 24px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #48ADE7;
    color: white;
}

.buttonReserve:hover {
    background-color: #4CAF50;
    color: white;
}

img {
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

h6 {
    margin: 0;
}